*{
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
   }


      .kv-item{
   padding-left: 100px;
   padding-bottom: 20px;
     }
      .kv-label{
   display: inline;
   height: 28px;
   line-height: 28px;
   margin-left: -100px;
   float: left;
   text-align: right;
   width: 100px;
     }
     .text-align{
   border:1px solid #474E63;
   color: #0A1844;
   height: 26px;
   line-height:26px;
   padding:0 2px;
   width: 177px; 
   text-align: left;
      }
      .submit{
   margin-left: 80px;
   border:1px solid #474E63;
   height: 26px;
   font-weight: bold;
     }
     .reset{
   border:1px solid #474E63;
   height: 26px;
   font-weight: bold;
     }
     .Form{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        max-height: 10000px;
        min-width: 100px;
        background-color: lightblue;
     }