.home{
    max-width: 1500px;
    margin-left:auto;
    margin-right:auto;
}
.home_row{
    display:flex;
    z-index:1;

}
.home_image{
    width:100%;
    /*mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));*/
  

}